<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to 'Twitgame <i class="fas fa-dragon"></i>'.html_safe, root_path, class: 'navbar-brand ml-5 font-weight-bold float-center' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarText">
    <ul class="navbar-nav ml-auto mr-2">
      <% if user_signed_in? %>

        <li class="nav-item ">
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>

        <li class="nav-item">
          <%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Registrarse', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>
